/*  src/Title.css  */
.Title {
  box-sizing: border-box;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(96, 222, 253);
  color: #60defd;
}